

:root{
    --main-title-color: #2E2F42;
    --main-title-font-weight: 700;
    --text-color: #434455;
    --text-font-weight: 400;
    --accent-color: #4D5AE5;
    --hero-color: #FFFFFF;
    --hero-btn-color: #404BBF;
    --main-background-color: #F4F4FD;
    --footer-text-color: #E7E9FC;
}

body{
font-family: 'Roboto', sans-serif;
color:var(--text-color)
}
.text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}


.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
/*----------------------------HEADER---------------------------------*/

.header-logo {}

.header-logo-web {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;    
    color:var(--accent-color);
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-logo-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-title-color);
    
}

.header-navigation {
}

.header-list {}

.header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--main-title-color);
}


.header-link {
    color: var(--main-title-color);
}

.header-link:hover,
.header-link:focus {
    color:var(--accent-color);
}

.header-adresses {}


.header-email {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.header-email:hover,
.header-email:focus {
    color: var(--accent-color);
}

.header-tel {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.header-tel:hover,
.header-tel:focus {
    color:var(--accent-color);
}

/*--------------------------------HERO------------------------------------*/
.hero {
    background-color: var(--main-title-color);
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: var(--hero-color);
    letter-spacing: 0.02em;
    text-align: center;
}

.hero-btn {
    background-color: var(--accent-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--hero-color);
    cursor: pointer;
}

.hero-btn:hover, .hero-btn:focus{
    background-color: var(--hero-btn-color);

}

/*--------------------------------FEATURES------------------------------*/
.features {}

.features-list {}

.list {}

.features-item {}

.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
}

.features-text {
}
/*----------------------------------What are we doing--------------------------------------*/
.desc {}

.desc-subtitle {
    font-weight: var(--main-title-font-weight);
    font-size: 36px;
    line-height: 1.11px;
    text-align: center;
    
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--main-title-color);
}

.desc-list {}

.list {}

.desc-item {}

/*------------------------------------------TEAM-------------------------------------------*/
.section-team {
    background-color: var(--main-background-color);
}

.section-team-subtitle {
    font-weight: var(--main-title-font-weight);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:var(--main-title-color);}

.section-team-list {}

.list {}

.section-team-item {
    background-color: var(--hero-color);
}

.section-team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    
    letter-spacing: 0.02em;

    color: var(--main-title-color);}

.section-team-text {
}
/*--------------------------------------------------FOOTER--------------------------------------*/
.footer{
    background-color:var(--main-title-color);
}
.footer-logo {}

.link {}

.footer-logo-web {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
}

.footer-logo-studio {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--main-background-color);
}

.footer-text {
    color: var(--footer-text-color);
    
}
/*--------------------------------------------------PORTFOLIO-------------------------------------------------------------*/
.portfolio-title {}

.portfolio-nav-list {}

.portfolio-nav-item {}

.portfolio-nav-btn {
    background-color: var(--main-background-color);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;

    color: var(--accent-color);
}

.portfolio-nav-btn:hover, .portfolio-nav-btn:focus{
    background-color: var(--accent-color);
    color: var(--hero-color);
}


.portfolio-list {}

.portfolio-item {
    background-color: var(--main-background-color);
}

.portfolio-subtitle {
    font-weight: var(--main-title-font-weight);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--main-title-color);
}

.portfolio-text {
}